/**
 * Bulma
 */
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$family-sans-serif: "Trebuchet MS", sans-serif;

$primary: #fa9d39;

$facebook: #1877f2;
$facebook-invert: findColorInvert($facebook);
$feedly: #2db24c;
$feedly-invert: findColorInvert($feedly);
$hateb: #00a4de;
$hateb-invert: findColorInvert($hateb);
$inoreader: #03a9f4;
$inoreader-invert: findColorInvert($inoreader);
$kyash: #29d1ff;
$kyash-invert: #ffffff;
$twitter: #1da1f2;
$twitter-invert: findColorInvert($twitter);

@import "~bulma/sass/utilities/derived-variables.sass";

$addColors: (
  "facebook": ($facebook, $facebook-invert),
  "feedly": ($feedly, $feedly-invert),
  "hateb": ($hateb, $hateb-invert),
  "inoreader": ($inoreader, $inoreader-invert),
  "kyash": ($kyash, $kyash-invert),
  "twitter": ($twitter, $twitter-invert)
);

$colors: map-merge($colors, $addColors);

$panel-shadow: 0;
$variable-columns: false;
@import "~bulma/bulma";

/**
 * ワクラバ共通
 */
address {
  font-style: normal;
}

.button {
  font-family: Arial, sans-serif;
  font-weight: 600;

  i {
    font-weight: normal;
  }
}

.contents {
  padding: 2rem 0;

  @include until($desktop) {
    padding: 1rem 0;

    .container {
      padding: 0.5rem 0.75rem;
    }
  }
}

.footer {
  @include until($desktop) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  a {
    color: #4a4a4a;

    &:hover {
      color: #3273dc;
    }
  }

  li {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }
}

.logo-worklover {
  width: 80px;
}

/**
 * RSS愛好会共通
 */
@media (min-width: 769px) {
  #index .hero {
    background: url("/img/icon.svg"), linear-gradient(#fa9d39, #e3702d);
    background-position-y: 100%;
    background-repeat: no-repeat;
  }

  #index h1 .subtitle::before {
    content: " ─ ";
  }
}

@media (max-width: 768px) {
  #index h1 .subtitle {
    display: block;
  }
}

p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

a.panel-block:hover,
label.panel-block:hover {
  background: #fec;
}

h2::before {
  color: #e3702d;
  content: "\f09e";
  font-family: icon, sans-serif;
}

.ad,
.articles {
  margin-bottom: 1.5rem;
}

.article {
  h2::before {
    display: none;
  }

  ul {
    padding-left: 1rem;

    li {
      list-style-type: square;
      margin: 0.3rem;

      li {
        list-style-type: circle;
      }
    }
  }
}

.preamble {
  margin-bottom: 1.5em;
}

.hero {
  background: linear-gradient(#fa9d39, #e3702d);
}

.icon-rss,
.logo-rss {
  height: 1.75rem;
  margin-right: 0.5rem;
}

.panel-icon {
  color: #e3702d;
}

.websites {
  column-count: 3;
  margin: 1.5rem 0;

  @include until($tablet) {
    column-count: 1;
  }

  .website {
    border: 1px solid #ededed;
    break-inside: avoid;
  }
}

.buttons-feed-reader {
  @include from($desktop) {
    right: 0 !important;
  }

  @include from($tablet) {
    position: absolute;
    right: 0.75rem;
  }
}

.subscription {
  z-index: 1;
}
